@import "../theme.scss";

button {
	float: left;
}

h1 {
}

div {
	background-color: green;
}

.example-container {
	background-color: $dark-background;
	color: $dark-font;
	height: 100%;
}

.example-sidenav-content {
	background-color: $dark-background;
	color: $dark-font;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
	background-color: $dark-surface;
	color: $dark-font;
  padding: 20px;
}