<mat-drawer-container class="example-container" autosize>
	<div class="siteHeader">
		<button type="button" mat-button (click)="drawer.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<h1>{{title}}</h1>
		<app-welcome-card></app-welcome-card>
	</div>
  <mat-drawer #drawer class="example-sidenav" mode="side">
		<button mat-button routerLink="">
			Home
		</button>
    <button mat-button routerLink="pipelines">
			Pipeline Dashboard
		</button>
		<button mat-button (click)="resetToken()">
			Reset Token
		</button>
  </mat-drawer>
	<router-outlet></router-outlet>
</mat-drawer-container>