
$light-primary: #000000;
$light-secondary: #000000;
$light-tertiary: #000000;
$light-neutral: #000000;
$light-background: #ffffff;
$light-surface: #ffffff;
$light-font: #000000;

$dark-primary: #000000;
$dark-secondary: #000000;
$dark-tertiary: #000000;
$dark-neutral: #000000;
$dark-background: #111111;
$dark-surface: #1d1d1d;
$dark-font: #ffffff;

$stoplight-green: #2dc937;
$stoplight-yellow-green: #99c140;
$stoplight-yellow: #e7b416;
$stoplight-red-yellow: #dd6b0d;
$stoplight-red: #cc3232;